:root {
    --main-bg-color: #404143;
    --secondary-bg-color: #212529; 
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: white;
}

body {
    min-height: 100vh;
    background-color: var(--main-bg-color);
    position: relative;
    padding-bottom: 2rem;
}

::selection {
    background-color: aquamarine;
    color: #0d6efd;
}

.logo {
    width: 12vw;
    min-width: 120px;
}

a {
    text-decoration: none;
}



/* ====== LOGIN ====== */

.login-form {
    width: 70%;
    min-width: 300px;
    background-color: var(--secondary-bg-color);
}

.login-form__input {
    width: 100%;
}

.login-form__a {
    text-decoration: none;
}

.login-form__a:hover {
    text-decoration: underline;
}

.form-label {
    color: #0d6efd;
}


/* ====== REGISTER ====== */

.register-form {
    width: 70%;
    min-width: 300px;
    background-color: var(--secondary-bg-color);
    justify-content: center;
}

.register-form__h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.register-form__input {
    width: 100%;
}

.register-form__a {
    text-decoration: none;
}

.register-form__a:hover {
    text-decoration: underline;
}


/* ====== ERRORS ====== */

.error {
    color: #dc3545;
    font-size: 0.8rem;
    margin-top: 10px;
    line-height: 1rem;
    font-style: italic;
}

.error-form {
    color: #dc3545;
    margin-bottom: 15px;
    line-height: 1.3rem;
    font-weight: bold;
}

/* ====== INDEX ====== */

.content-wrapper {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.navigation-location {
    width: 100%;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    padding: 0.8rem;
}

.navigation-location__span {
    color: var(--bs-secondary-text);
}

.form-search {
    width: 100%;
}

.form-search__input {
    width: 40%;
    background-color: var(--secondary-bg-color);
    border: 0px;
    border-radius: 5px;
    padding: 0.8rem;
}

.cards-container {
    width: 100%;
}

.card {
    width: 15vw;
    min-width: 140px;
    background-color: var(--bs-secondary-text);
}

.card:hover {
    background-color: #5d626d;
}

/* ====== ITEM DETAIL ====== */

.item-container {
    width: 100%;
}

.item-container__detail {
    padding: 1.5rem;
    border-radius: 5px;
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.item-container__list {
    padding: 1.5rem;
    border-radius: 5px;
    width: 100%;
    background-color: var(--secondary-bg-color);
}

.card-img-top {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.detail-text {
    border: var(--main-bg-color) 1.5px solid;
    border-radius: 5px;
    width: 100%;
}

.item-container__info {
    margin: 0;
}

.item-container__links-list {
    border: var(--main-bg-color) 1.5px solid;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-height: 560px;
    overflow: scroll;
}


/* ====== FOOTER ====== */

footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-bg-color);
}

.footer-container {
    text-align: center;
    font-size: 0.9rem;
}

.footer-container span {
    color: var(--bs-secondary-text);
}



/* ********** MEDIA QUERIES PANTALLA MD ********** */

@media (min-width:768px) {

    /* ====== REGISTER ====== */
    .register-form {
        justify-content: space-between;
    }

    .register-form__div--half {
        width: 48%;
    }

    /* ====== ITEM DETAIL ====== */

    .item-container__detail {
        width: 25%;
    }

    .item-container__list {
        width: 73%;
    }

    /* ====== INDEX ====== */

    .card {
        width: 18.5vw;
    }
}

@media (min-width:992px) {

    /* ====== INDEX ====== */

    .card {
        width: 15vw;
    }
}